<div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidadactual:</strong>
  <%= @colore.cantidadActual %>
</p>

<p>
  <strong>Entrada:</strong>
  <%= @colore.entrada %>
</p>

<p>
  <strong>Salida:</strong>
  <%= @colore.salida %>
</p>



</div>