<h1>Listing colores</h1>

<table class="table">
  <thead>
    <tr>
      <th>Color</th>
      <th>Entrada</th>
      <th>Salida</th>
      <th>Cantidad actual</th>
      <th>Ultima actualización</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
     <%= render @colores %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo color',  new_tela_colore_path(@tela), remote: true, class: "btn btn-success" %>
