<div class="separa">
  <center><h3>Bases</h3></center>
  <div class="divsof">
  <table class="table table-hover table-heading">
    <thead>
      <tr>
        <th class="cen">Nombre de la base</th>
      </tr>
    </thead>

    <tbody>
    <% @bases_telas.each do |a| %>
      <tr>
          <td><%= a.nombre %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
</div>