<center><h1>Bases</h1><br>
<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Clasificación</th>
      <th class="cen">Nombre</th>
      <th class="cen" colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @bases_telas %>
  </tbody>
</table>
</div>
<br>

<%= button_to 'Nueva base', new_bases_tela_path, class: "btn btn-success btn-lg", :method => "get", remote: true%>
</center>