<center><h1>Clasificaciones de telas</h1><br>
<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Nombre</th>
      <th class="cen">Descripción</th>
        <th class="cen" colspan="2">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @clasificaciones %>
  </tbody>
</table>
</div>
<br>
<%= button_to 'Nueva Clasificación', new_clasificacione_path, class: "btn btn-success btn-lg", :method => "get", remote: true %>
</center>