<% if current_user.role_id == 1 %>
<center>
  <div class="bani">
  <h1 class="banih slideDown">Proveedores</h1>
  <%= image_tag("banner.jpg", class: "banii slideDown") %>
  <p class="banip slideDown"><br>Listado de proveedores disponibles.</p>
</div>
<div class="cen media">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Empresa</th>
      <th class="cen">Telefono</th>
      <th class="cen">Direccion</th>
      <th class="cen">Correo</th>
      <th class="cen">Nombre contacto</th>
      <th class="cen" colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @proveedores %>
  </tbody>
</table>
</div>
<br>

<%= button_to 'Nuevo proveedor', new_proveedore_path, class: "btn btn-success btn-lg", :method => "get", remote: true  %>
</center>
<% else %>
<center>
    <div class="fadeIn derror">
    <%= image_tag ("error.png"), class: "img-rounded", height: '40', width: '40' %>
     <h1>Acceso denegado.</h1>
     <small>Por favor contáctese con el administrador.</small>
    </div>
  </center>
<% end %>