
<center><div id="contac">
	<h1>Contacto</h1>
	<hr class="contachr">
		<ul>
			<li id="cprimero"><h3 class="lc1"><br>Programador</h3>

				<div class="cprimero">
					<p><b>Jhon Fredy Morales</b></p>
					<p><b>E-mail:</b> jh0n.fr3ddym@gmail.com</p>
					<p><b>Cecular:</b> 3136676973</p>
				</div>
			</li>

			<li id="csegundo"><h3 class="lc1"><br>Encargado</h3>
				<div class="csegundo">
					<p>mmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
				</div>
			</li>
			<li id="ctercero"><h3 class="lc1"><br>Otro_mas</h3>
				<div class="ctercero">
					<p>33333333333333333333333</p>
				</div>
			</li>




		</ul>

	

</div></center>
