
<center><div id="contac">
	<h1>Contacto</h1>
	<hr class="contachr">
		<ul>
			<li id="cprimero"><h3 class="lc1"><br>Programador</h3>

				<div class="cprimero">
					<p><b>Jhon Fredy Morales</b></p>
					<p><b> E-mail: </b><input type="text" value="jh0n.fr3ddym@gmail.com" disabled ></input> </p>
					<p><b>Cecular: </b><input type="text" value="3136676973" disabled ></input></p>
					<p>ADSI 2015 - CFDCM</p>
				</div>
			</li>

			<li id="csegundo"><h3 class="lc1"><br>Encargado</h3>
				<div class="csegundo">
					<p>No hay datos por ahora.</p>
				</div>
			</li>
		</ul>
</div></center>
