<%= render 'layouts/messages' %>
<h1>Que es sofcartej? </h1><br>
<p>Sofcartej es una aplicacion en donde se pueden encontrar las clasificaciones de los diferentes tipos de telas que se manejan en el
centro de Diseño Confeccion y Moda. Tambien ofrece la oportunidad de encontrar los datos y detalles de una tela facilmente, mediante un buscador
 especializado, y contar con contenido extra como videos y articulos informaivos que se irán actualizando periódicamente para los
  aprendices e instructores interezados.</p>
<center>
<% @videos.each do |video| %>
	<%if  video.id == 12 %>
	 <%= video_tag(video.vid.url, height: '350', width: '550', autobuffer: true, autoplay: true,:loop => true, controls: true) %>
	<% end %>
<% end %>
</center>