<center><h1>Usos</h1><br>

<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Nombre</th>
      <th colspan="3"  class="cen">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @usos %>
  </tbody>
</table>
</div>

<br>

<%= button_to 'Nuevo Uso', new_uso_path, class: "btn btn-success btn-lg", :method => "get", remote: true %>
</center>