<% if current_user.role_id == 1 %>
<center><h1>Usos</h1><br>

<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Uso</th>
      <% if current_user.role_id == 1 %>
      <th colspan="2"  class="cen">Opciones</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render @usos %>
  </tbody>
</table>
</div>

<br>
<% if current_user.role_id == 1 %>
<%= button_to 'Nuevo Uso', new_uso_path, class: "btn btn-success btn-lg", :method => "get", remote: true %>
<% end %>
</center>
<% else %>
<center>
    <div class="fadeIn derror">
    <%= image_tag ("error.png"), class: "img-rounded", height: '40', width: '40' %>
     <h1>Acceso denegado.</h1>
     <small>Por favor contáctese con el administrador.</small>
    </div>
  </center>
<% end %>