<center><h1>Referencias Comerciales</h1><br>
<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Nombre</th>
      <th class="cen" colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @referencias_comerciales %>
</table>
</div>
<br>

<%= button_to 'Nueva referencia comercial', new_referencias_comerciale_path, class: "btn btn-success btn-lg", :method => "get", remote: true %>
</center>