<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @referencias_comerciale.nombre %>
</p>

<%= link_to 'Editar', edit_referencias_comerciale_path(@referencias_comerciale) %> |
<%= link_to 'Atras', referencias_comerciales_path %>
