<div class="coni2">
     <div class="conit">
        <div class="btn-group">
          <a href="#"> </a>
          <ul class="list-inline">
          <% if current_user %>
          <% if current_user.role_id == 1 %>
            <li class="link"><%= link_to '<i class="fa fa-wrench txt-primary"></i><span> Editar</span>'.html_safe, edit_video_path(video), remote: true %>
            <% if video.id != 12 %></li>
              <li><%= link_to '<i class="fa fa-times txt-danger"></i><span> Eliminar</span>'.html_safe, video, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></li>
            <%end %>
            <% end %>
          <% end %>
          </ul>
        </div>
        <hr class="hr1"></div> <div class="ow-server">
        <%= video.titulo %>
        <%= video_tag(video.vid.url, height: '310', width: '480', controls: true) %>
        </div>
      </div>