<center><h1>Tipos de telas</h1><br>
<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Nombre</th>
      <th class="cen" colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <%= render @tipos_telas %>
  </tbody>
</table>
</div>
<br>

<%= button_to 'Nuevo tipo de tela', new_tipos_tela_path, class: "btn btn-success btn-lg", :method => "get", remote: true  %>
</center>