<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipos_tela.nombre %>
</p>

<%= link_to 'Editar', edit_tipos_tela_path(@tipos_tela) %> |
<%= link_to 'Atras', tipos_telas_path %>
