<center><h1>Articulos</h1></center><br>
<% if current_user %>
	<% if current_user.role_id == 1 %>
		<%= button_to 'Nuevo Articulo', new_articulo_path, class: "btn btn-success", :method => "get", remote: true %>
	<% end %>
<% end %>
<div class="conarti">
<ul class="grid cs-style-4">
    <%= render @articulos %>
</ul>
</div>


       
    