<center>
    <div class="bani">
  <h1 class="banih">Articulos</h1>
  <%= image_tag("banner.jpg", class: "banii") %>
  <p class="banip">En los siguientes articulos, se muestran las noticias mas recientes, importantes y destacadas sobre el mundo de las telas y la moda en la region y 
  el centro de formación en diseño, confección y moda.</p>
</div>
    
</center><br>

<% if current_user %>
	<% if current_user.role_id == 1 %>
		<%= button_to 'Nuevo Articulo', new_articulo_path, class: "btn btn-success", :method => "get", remote: true %>
	<% end %>
<% end %>
<div class="conarti">
<ul class="grid cs-style-4">
    <%= render @articulos %>
</ul>
</div>


       
    